.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project {
    width: 45%;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
}
.project img {
    width: 100%;
    height: auto;
}
.project h3 {
    margin-top: 1.5em; /* Aumentado de 1em a 1.5em */
    margin-bottom: 0.75em; /* Aumentado de 0.5em a 0.75em */
}
.project p {
    margin-bottom: 1em; /* Aumentado de 0.5em a 1em */
}

.project .image-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    position: relative;
    overflow: hidden;
}

.project img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.back-button-container {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4a4a4a; /* Color de fondo, ajusta según tu paleta de colores */
    color: #ffffff; /* Color del texto */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #2a2a2a; /* Color al pasar el mouse, más oscuro */
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.button-container footer {
    text-align: center;
}

@media (max-width: 768px) {
    .project {
        width: 100%;
        margin-bottom: 4em; /* Ajustado para pantallas pequeñas */
    }
}